.Homepage_Main {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.Homepage_container {
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
}
.Homepage_card {
  /* border: 1px solid black; */
  max-width: 350px;
  min-height: 100px;
  background-color: rgb(2, 47, 73);
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-top: 80px;
  text-transform:capitalize;
  
  
}
.Homepage_card_breed{
  margin-top: 30px;
}
/* Media query */
@media screen and (max-width:720px){
    .Homepage_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    .Homepage_card{
        max-width: 100%;
        min-height: 200px;
        margin-top: 120px;
    }
    .Homepage_card_breed{
      margin-top: 80px;
    }
}


@media screen and (max-width:480px){
  .Homepage_container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin: 0 auto;
  }
  .Homepage_card{
      max-width: 100%;
      min-height: 200px;
      margin-top: 120px;
  }
  .Homepage_card_breed{
    margin-top: 80px;
  }
}

